sprite_url.png
nop.png
op.png
sprite.png
.settings
build
dist/
spriter.egg-info/
spriter.css
*.pyc
.DS_STORE
.project
.pydevproject.coverage
.coverage
.pydevproject
sprite.css
tests/sprite.png
tests/sprite.webp
.idea
